body {
  background: #F5F6FA;
  font-family: "Lato", sans-serif;
}

.center-items, .upload-page .upload-panel .presets-box .platform-box, .upload-page .upload-panel .presets-box .creative-box, .upload-page .upload-panel .upload-box .file-icon-box .icon-box, .upload-page .upload-panel .upload-box, nav .navbar-nav .nav-link.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .navbar-brand {
  color: #0278bd;
}
nav .navbar-brand img {
  max-width: 36px;
  margin-right: 1rem;
}
@media (min-width: 1920px) {
  nav .navbar-brand img {
    max-width: 70px;
  }
}
nav .navbar-brand h2 {
  font-weight: 900;
  margin-bottom: 0;
}
nav .navbar-brand h2 span {
  color: #58595b;
}
nav .navbar-nav .account-section a.nav-link {
  font-weight: 700;
}
nav .navbar-nav .nav-link.active {
  background-color: #c0e7fe;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  color: #0278bd;
  font-weight: bold;
  font-size: 22px;
}
nav .navbar-nav .av-holder img {
  max-width: 40px;
  border-radius: 100%;
  margin-left: 8px;
}
nav .navbar-nav .av-holder i {
  font-size: 10px;
  margin-left: 5px;
}

.upload-page {
  width: 100%;
  padding: 0px 32px;
}
.upload-page .mbottom {
  margin-bottom: 25px;
}
.upload-page .upload-panel {
  width: 100%;
  border-radius: 15px;
  border: 2px dashed #065d8f;
  padding: 20px 17px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .upload-page .upload-panel {
    flex-direction: row;
  }
}
.upload-page .upload-panel .upwrap {
  width: 100%;
}
@media (min-width: 768px) {
  .upload-page .upload-panel .upwrap {
    width: 70%;
  }
}
.upload-page .upload-panel .upload-box {
  width: 100%;
  min-height: 400px;
  background-color: #ebeefc;
  flex-direction: column;
  border-radius: 8px;
}
.upload-page .upload-panel .upload-box .collection.img {
  width: 87px;
  height: 50px;
}
.upload-page .upload-panel .upload-box h5 {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 23pt;
  color: #000000;
  padding: 0px 28%;
  text-align: center;
}
.upload-page .upload-panel .upload-box h5 span {
  color: #0278bd;
}
.upload-page .upload-panel .upload-box .file-icon-box {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-gap: 10px;
}
.upload-page .upload-panel .upload-box .file-icon-box .icon-box {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid #7e7e7e;
  background-color: #ffffff;
}
.upload-page .upload-panel .upload-box p {
  font-size: 16px;
  line-height: 22pt;
  color: rgba(0, 0, 0, 0.631372549);
}
.upload-page .upload-panel .videotitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 18px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .upload-page .upload-panel .videotitle {
    flex-direction: row;
  }
}
.upload-page .upload-panel .videotitle .titlebox {
  display: flex;
  grid-gap: 13px;
}
.upload-page .upload-panel .videotitle .titlebox .titlebox-img {
  background: #bfe5fc;
  width: 59px;
  height: 59px;
  border-radius: 8px;
}
.upload-page .upload-panel .videotitle .titlebox .titlebox-content label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5803921569);
}
.upload-page .upload-panel .videotitle .titlebox .titlebox-content p {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  margin: 0;
}
.upload-page .upload-panel .presets-box {
  width: 100%;
  padding: 0;
}
@media (min-width: 768px) {
  .upload-page .upload-panel .presets-box {
    width: 30%;
    padding: 0px 26px;
    padding-right: 0;
  }
}
.upload-page .upload-panel .presets-box h2 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #000000;
}
.upload-page .upload-panel .presets-box .preset-icon-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.upload-page .upload-panel .presets-box .preset-icon-box:nth-child(5) {
  margin-bottom: 52px;
}
.upload-page .upload-panel .presets-box .preset-icon-box label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5411764706);
  width: 100%;
  margin-bottom: 5px;
}
.upload-page .upload-panel .presets-box .preset-icon-box button {
  border-radius: 4px;
  height: 39px;
  padding: 5px 16px;
  font-size: 14px;
  border: 1px solid #0278bd;
  background: white;
  color: #0278bd;
}
.upload-page .upload-panel .presets-box .preset-icon-box button.active {
  background: #0278bd;
  color: white;
}
.upload-page .upload-panel .presets-box .icon-box-align {
  display: flex;
  grid-gap: 15px;
}
.upload-page .upload-panel .presets-box .creative-box {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  box-shadow: 1px 4px 22px rgba(117, 117, 117, 0.1411764706);
}
.upload-page .upload-panel .presets-box .creative-box img {
  width: 33px;
}
.upload-page .upload-panel .presets-box .platform-box {
  width: 39px;
  height: 39px;
  border-radius: 6px;
}
.upload-page .upload-panel .presets-box button.submit {
  width: 100%;
  border-radius: 12px;
  background-color: #ce094f;
  border: none;
  color: #ffffff;
  height: 50px;
  font-size: 17px;
}
.upload-page .transcription-panel {
  width: 100%;
}
.upload-page .transcription-panel h2 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #000000;
}
.upload-page .transcription-panel .transcription-box {
  border-radius: 6px;
  padding: 11px 12px;
  background-color: rgba(206, 9, 79, 0.0901960784);
}
.upload-page .transcription-panel .transcription-box p {
  font-size: 16px;
  color: #ce094f;
  margin-bottom: 0;
}
.upload-page .my-videos-panel h2 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #000000;
}
.upload-page .my-videos-panel .scroll-panel {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  overflow: hidden;
}
.upload-page .my-videos-panel .videos-box {
  display: flex;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.upload-page .my-videos-panel .videos-box .thumbnail {
  width: 182px;
  height: 215px;
  background-color: #ededed;
  border-radius: 12px;
}
.upload-page .my-videos-panel .videos-box .video-title {
  font-size: 16px;
  text-align: center;
  color: #000000;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}
/* dashboard */
 
.inner-areas .welcome-box {
  position: relative;
}
.inner-areas .welcome-box:after {
  content: "";
  background: #0278bd;
  filter: blur(48px);
  position: absolute;
  width: 82px;
  height: 86px;
  right: 10px;
  z-index: -1;
  top: 32px;
}
.inner-areas .welcome-box h3 {
  color: #353535;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
}
.inner-areas .welcome-box h2 {
  color: #0278bd;
  font-weight: 800;
}
.inner-areas .welcome-box img {
  max-width: 110px;
}
.inner-areas .welcome-box p {
  margin-bottom: 0;
  font-size: 0.875rem;
}
.inner-areas .info-box {
  background: #fff;
  padding: 1rem;
  display: flex;
  color: #353535;
  border-radius: 10px;
  position: relative;
}
.inner-areas .info-box.approved:after {
  content: "";
  background: #ce094f;
  filter: blur(48px);
  position: absolute;
  width: 82px;
  height: 86px;
  left: 10px;
  z-index: -1;
  bottom: 0px;
}
.inner-areas .info-box.approved .mini-info i {
  color: #41CF83;
}
.inner-areas .info-box.approved .right-box .icon-holder {
  background-color: #41CF83;
}
.inner-areas .info-box.rejected .mini-info i {
  color: #ce094f;
}
.inner-areas .info-box.rejected .right-box .icon-holder {
  background-color: #ce094f;
}
.inner-areas .info-box.pending .right-box .icon-holder {
  background-color: #5bc1fd;
}
.inner-areas .info-box.pending .mini-info i {
  color: #f977a5;
}
.inner-areas .info-box h4 {
  font-size: 1rem;
  color: #494949;
}
.inner-areas .info-box h2 {
  font-weight: 800;
}
.inner-areas .info-box .mini-info {
  color: #494949;
}
.inner-areas .info-box .mini-info i {
  margin-right: 0.5rem;
}
.inner-areas .info-box .mini-info span {
  color: #0278bd;
}
.inner-areas .info-box .right-box .icon-holder {
  background-color: #ccc;
  width: 50px;
  height: 50px;
  padding: 0.7rem;
  border-radius: 100px;
}
.inner-areas .info-box .right-box .icon-holder img {
  max-width: 26px;
}
.inner-areas .upload-section {
  background: transparent linear-gradient(118deg, #1A95DC 0%, #E6125E 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 26px rgba(0, 0, 0, 0.1019607843);
  color: #fff;
  border-radius: 10px;
  border: 0;
  outline: 0 none;
  height: 100%;
  width: 100%;
  position: relative;
}
.inner-areas .upload-section .upload-inner {
  font-size: 1.2rem;
}
.inner-areas .upload-section .upload-inner i {
  font-size: 2rem;
}
.inner-areas .upload-section:after {
  content: "";
  background: #ce094f;
  filter: blur(48px);
  position: absolute;
  width: 82px;
  height: 86px;
  left: 10px;
  z-index: -1;
  bottom: 0px;
}
.inner-areas .white-box {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
}
.inner-areas .white-box h4 {
  font-size: 1rem;
}
.inner-areas .white-box .playerimg {
  z-index: 99;
  position: relative;
  top: 15px;
  width: 155px;
  left: 18%;
}
.inner-areas .white-box .shapes {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.inner-areas .white-box .shapes img {
  position: absolute;
  bottom: 0;
  left: 18%;
  right: auto;
}
.inner-areas .white-box .shapes img:first-child {
  position: absolute;
  bottom: 0;
  left: 6%;
  right: auto;
}
.inner-areas .white-box .av-list img {
  max-width: 50px;
}
.inner-areas .white-box .img-show .img-right-block {
  margin-left: 10px;
}
.inner-areas .white-box .img-show .img-right-block h2 {
  font-weight: 800;
  margin-bottom: 0;
  color: #0278bd;
}
.inner-areas .white-box .img-show .img-right-block .mini-info i {
  color: #ce094f;
}
.inner-areas .white-box .img-show .img-right-block .mini-info span {
  color: #0278bd;
  margin-left: 5px;
}
.inner-areas .tasks-holder h4 {
  font-size: 1rem;
}
.inner-areas .tasks-holder .info-list {
  padding: 10px;
  position: relative;
  display: flex;
  padding-left: 40px;
  border-radius: 6px;
  margin-top: 8px;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.inner-areas .tasks-holder .info-list i {
  position: absolute;
  left: 9px;
  top: 3px;
  font-size: 20px;
}
.inner-areas .tasks-holder .info-list.error {
  background: rgba(230, 18, 94, 0.18);
  color: #ce094f;
}
.inner-areas .tasks-holder .info-list.warning {
  background: rgba(251, 92, 0, 0.19);
  color: #914214;
}
.inner-areas .tasks-holder .info-list.success {
  background: rgba(65, 207, 131, 0.19);
  color: #2db06a;
}

span.upload-info img {
  max-width: 30px;
  margin-right: 10px;
}

.table-container h2 {
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */






 /* Naveen */
 .image-upload > input
 {
     display: none;
 }
 
 .image-upload img
 {
     width: 20px;
     cursor: pointer;
 }

#id_select_creative input[type="checkbox"] {
  display: none;
}

#id_select_creative span {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  text-transform: uppercase;
  border: 1px solid #0278bd;
  border-radius: 3px;
  color: #0278bd;
}

#id_select_creative input[type="checkbox"]:checked + span {
  background-color: #0278bd;
  color: black;
}

/* video size  */
.vid {
  width: 30%;
}







/* bibin video box */
.videos-box {
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 1px 20px 2px #d1d5e6;
}
.videos-box p {
  margin-bottom: 0;
}

.my-videos-panel h2 {
  margin-bottom: 1rem;
  font-size: 28px;
  font-weight: 500;
}

.videos-box .thumbnail {
  width: 100%;
}

video {
  width: 100%;
}/*# sourceMappingURL=style.css.map */


/* VIDEO GRID */

.card {
  margin-bottom: 1rem;
}

.list-view {
 .row {
   > [class*='col-'] {
     max-width: 100%;
     flex: 0 0 100%;
   }
 }
 .card {
   @media (max-width: 575.98px) {
    flex-direction: column;
   }
   flex-direction: row;
   > .card-img-top {
    width: auto;
   }
   
   .card-body {
     display: inline-block;
   }
 }
}





/* .progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
}
#progress {
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
} */