{% extends 'tc_DigitalMarketing/index.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-sm hd">    
    <a href="/dm/UserIndexpage"class="navbar-brand" >
    <img src="{% static 'images/tc.png' %}"height="60",width="20" alt="Speridian">
    </a>
    <!--navbar toggler for smaller screen expand menu-->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
     <ul class="navbar-nav ms-auto">
       <li class="nav-item" >
            <a  href="/dm/approver"class="nav-link">
            <!--The below <svg> for bootstap predefine icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
             </a>
             <!-- <a class="nav-item nav-link" href="/dm/status/{{video}}">Home</a> -->
        </li>

     </ul>
    </div> 
</nav>

<div class="container">
    {% include 'tc_DigitalMarketing/messages.html' %}
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-md-5">
        <label><h5>{{ vname }}</h5> </label>
        <video width="100%" height="240" controls>
            <source src="{{ video }}" type="video/mp4">
            <source src="{{ video }}" type="video/ogg">
        Your browser does not support the video tag.
        </video>
          <textarea class="form-control"  rows="3">{{ Transcribe }}</textarea>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
      <form action="" method="post"enctype="multipart/form-data">
        {% csrf_token %}   
              {% if qT.q0 %}
              <label><h6>{{qT.q0}}</h6></label>
              <br>
              {% endif %}
              
              {% if qR.k0 %}
              <label>User Selected : {{R.0.1}}</label>
              <select required aria-label="Select usage" class="form-select"
                  name="q0" onchange="set_sub_usage_list()" >
                  <option selected>----</option>
                    {% for usage in qR.k0 %}
                        <option value="{{ usage }}">{{ usage }}</option>
                    {% endfor %}
                   
              </select>
              <br>
              {% endif %}
             

              {% if qT.q1 %}
              <label><h6>{{qT.q1}}</h6></label>
              <br>
              {% endif %}
              
              {% if qR.k1 %}
              <label>User Selected : {{R.1.1}}</label>
              <select required aria-label="Select usage" class="form-select"
                  name="q1" onchange="set_sub_usage_list()" >
                  <option selected>----</option>

                  {% for usage in qR.k1 %}
                      <option value="{{ usage }}">{{ usage }}</option>
                  {% endfor %}
              </select>
              <br>
              {% endif %}
              
              {% if qT.q2 %}
              <label><h6>{{qT.q2}}</h6></label>
              <br>
              {% endif %}
              
              {% if qR.k2 %}
              <label>User Selected : {{R.2.1}}</label>
              <select required aria-label="Select usage" class="form-select"
                  name="q2" onchange="set_sub_usage_list()" >
                  <option selected>----</option>
                  {% for usage in qR.k2 %}
                      <option value="{{ usage}}">{{ usage }}</option>
                  {% endfor %}
              </select>
              <br>
              {% endif %}
              
              {% if qT.q3 %}
              <label><h6>{{qT.q3}}</h6></label>
              <br>
              {% endif %}
              
              {% if qR.k3 %}
              <label>User Selected : {{R.3.1}}</label>
              <select required aria-label="Select usage" class="form-select"
                  name="q3" onchange="set_sub_usage_list()" >
                  <option selected>----</option>
                  {% for usage in qR.k3 %}
                      <option value="{{ usage}}">{{ usage }}</option>
                  {% endfor %}
              </select>
              <br>
              {% endif %}
              

              {% if qT.q4 %}
              <label><h6>{{qT.q4}}</h6></label>
              <br>
              {% endif %}
              
              {% if qR.k4 %}
              <label>User Selected : {{R.4.1}}</label>
              <select required aria-label="Select usage" class="form-select"
                  name="q4" onchange="set_sub_usage_list()" >
                  <option selected>----</option>
                  {% for usage in qR.k4 %}
                      <option value="{{ usage}}">{{ usage }}</option>
                  {% endfor %}
              </select>
              <br>
              {% endif %}
              
              {% if qT.q5 %}
              <label><h6>{{qT.q5}}</h6></label>
              <br> 
              {% endif %}
              
              {% if qR.k5 %}
              <label>User Selected : {{R.5.1}}</label>
              <select required aria-label="Select usage" class="form-select"
                  name="q5" onchange="set_sub_usage_list()" >
                  <option selected>----</option>
                  {% for usage in qR.k5 %}
                      <option value="{{ usage}}">{{ usage }}</option>
                  {% endfor %}
              </select>
              <br>
              {% endif %}
              
              {% if qR.k6 %}
              <label>User Selected : {{R.6.1}}</label>
              <select required aria-label="Select usage" class="form-select"
              name="q6" onchange="set_sub_usage_list()" >
              <option selected>----</option>
              {% for usage in qR.k6 %}
                  <option value="{{ usage}}">{{ usage }}</option>
              {% endfor %}
              </select>
              <br>
              {% endif %}
              <label><h6>Reason</h6></label>
              <textarea class="form-control" name="Textbox" rows="3"></textarea>
              <br>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                
                <button type="submit" name="btn" value="Reject" class="btn btn-danger">Reject</button>
                <button type="submit" name="btn" value="Approve" class="btn btn-success">Approve</button>
              </div>
            </div>
          </form>
      </div>
    </div>

{% endblock content %}
