{% extends 'tc_DigitalMarketing/index.html' %}


{% block content %}

<div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Creater Name</th>
          <th scope="col">Video Details</th>
        </tr>
      </thead>
      <tbody>
        {% for i in r %}
        <tr>
          <!-- <th scope="row">1</th> -->
          <td>{{i.0.0}}</td>
          <td><a href="/dm/approverview/{{i.0.1}}">view</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock content %}