{% extends 'tc_DigitalMarketing/index.html' %}


{% block content %}

<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-md-5">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary">Upload</button>
        </form>
    
        <hr>
    
        <video width="100%" height="240" controls>
            <source src="{{ video }}" type="video/mp4">
            <source src="{{ video }}" type="video/ogg">
        Your browser does not support the video tag.
        </video>
          <textarea class="form-control"  rows="3">{{ text }}</textarea>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
      <form action="" method="post"enctype="multipart/form-data">
        {% csrf_token %}   

              {% if qT.q0 %}
              <label>{{qT.q0}}</label>
              {% endif %}
              {% if qR.k0 %}
              <select required aria-label="Select usage" class="form-select"
                  name="q0" onchange="set_sub_usage_list()" >
                  <option selected>----</option>

                    {% for usage in qR.k0 %}
                        <option value="{{ usage }}">{{ usage }}</option>
                    {% endfor %}

              </select>
              {% endif %}
              <br>
              {% if qT.q1 %}
              <label>{{qT.q1}}</label>
              {% endif %}
              {% if qR.k1 %}
              <select required aria-label="Select usage" class="form-select"
                  name="q1" onchange="set_sub_usage_list()" >
                  <option selected>----</option>

                  {% for usage in qR.k1 %}
                      <option value="{{ usage }}">{{ usage }}</option>
                  {% endfor %}

              </select>
              {% endif %}
              <br>
              {% if qT.q2 %}
              <label>{{qT.q2}}</label>
              {% endif %}
              {% if qR.k2 %}
              <select required aria-label="Select usage" class="form-select"
                  name="q2" onchange="set_sub_usage_list()" >
                  <option selected>----</option>

                  {% for usage in qR.k2 %}
                      <option value="{{ usage}}">{{ usage }}</option>
                  {% endfor %}

              </select>
              {% endif %}
              <br>
              {% if qT.q3 %}
              <label>{{qT.q3}}</label>
              {% endif %}
              {% if qR.k3 %}
              <select required aria-label="Select usage" class="form-select"
                  name="q3" onchange="set_sub_usage_list()" >
                  <option selected>----</option>
                  {% for usage in qR.k3 %}
                      <option value="{{ usage}}">{{ usage }}</option>
                  {% endfor %}
              </select>
              {% endif %}
              <br>
              {% if qT.q4 %}
              <label>{{qT.q4}}</label>
              {% endif %}
              {% if qR.k4 %}
              <select required aria-label="Select usage" class="form-select"
                  name="q4" onchange="set_sub_usage_list()" >
                  <option selected>----</option>
                  {% for usage in qR.k4 %}
                      <option value="{{ usage}}">{{ usage }}</option>
                  {% endfor %}
              </select>
              {% endif %}

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success btn">submit</button>
              </div>
            </div>
          </form>
      </div>
    </div>

{% endblock content %}