{% extends 'tc_DigitalMarketing/createrUploadbase.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-inline-flex align-items-center" href="#">
        <img src="{% static 'images/logo_icon.png' %}" alt="" class="img-fluid">
        <h2>Insight<span>Motion</span></h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"><i class="bi bi-moon"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
              <i class="bi bi-brightness-high"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="bi bi-bell"></i>
          </a>
        </li>
        <li class="nav-item account-section">
          <a class="nav-link" href="#">
              <span>My Account</span>
              <span class="av-holder">
                  <img src="{% static 'images/avatar.png'%}" alt="">
                  <i class="bi bi-chevron-down"></i>
              </span> 
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> 

<div>
  <div class="container">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <!-- <th scope="col">Date</th> -->
          <th scope="col">VideoTitle</th>
          <th scope="col">VideoPlatform</th>
          <th scope="col">Status</th>
          <th scope="col">Uploaded By</th>
          <th scope="col">Reviewed By</th>
          <th scope="col">Reason</th>
        </tr>
      </thead>
      <tbody>
        {% for i in status %}
        <tr>
          <!-- <td>{{i.date}}</td> -->
          <td>{{i.videoname}}</td>
          <td>{{i.platform}}</td>
          <td>{{i.status}}</td>
          <td>{{i.uploadername}}</td>
          <td>{{i.approver}}</td>
          {% if i.status != 'Rejected' %}
          <td>---</td>
          {% endif %}
          {% if i.status == 'Rejected' %}
          <td><a href="/dm/statusview/{{id}}/{{i.videoid}}">view</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}